@import 'bootstrap/dist/css/bootstrap.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #f7eded;
}


.profileDropdownPic {
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.user-icon {
  object-fit: cover;
}

.dropdown-menu {
  width: 200px;
}


.profileDropdown {
  background-color: #B4656F !important;
  color: #d3dfe1 !important;
}

.profileDropdownBottomDiv {
  background-color: #B4656F !important;
  color: #d3dfe1 !important;
}

.dropdown-menu {
  background-color: #B4656F!important;
  color: #d3dfe1 !important;
  text-align: center;
  margin-top: 10px;
}

.profileBtn {
  margin-top: 50px;
  margin-bottom: 30px;
}

.userProfileDiv {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  color: #b6c3c7 !important;
}

.navbar {
  color: black;
}

.indexBoardsPage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.centerBoards {
  max-width: 90%;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.boardIcon {
  font-size: 250%;
  margin-top: 50px;
}

.boardCardName {
  margin-bottom: -4%;
}

.boardCardBody {
  align-content: center;
  justify-content: center;
}

.addBoardBtn {
  width: 15%;
  border: none !important;
  background-color: transparent !important;
  color: black;
  margin-bottom: 40px;
  align-self: center;
  margin-top: 30px;
}

.addBoardBtn:hover {
  font-style: italic;
}

.profilePageForm {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.giftCardDiv {
  margin-top: 25px;
  text-align: center;
}

.giftItem {
  text-align: center;
}

.giftDescription {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.giftPrice {
  margin-bottom: 5px;
}

.giftOccasion {
  margin-bottom: 5px;
}

.giftFor{
  margin-bottom: 5px;
}

.giftName{
  margin-bottom: 5px;
}

.giftCardBody {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.inspoCardDiv {
  margin-top: 25px;
  text-align: center;
}

.inspoCardBody {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.listCardDiv {
  margin-top: 25px;
  text-align: center;
}

.listCardBody {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.purchaseCardDiv {
  margin-top: 25px;
  text-align: center;
}

.purchaseCardBody {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.purchaseDescription {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.purchasePrice {
  margin-bottom: 5px;
}

.cardPageDiv {
  display: flex;
  flex-direction: column;
}

.addCardBtn {
  border: none !important;
  background-color: transparent !important;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.addCardBtn:hover {
  font-style: italic;
}

.profileCardDiv {
  text-align: center;
  color: black;
}

.profilePagePic {
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.navLogo {
  width: 100px !important;
  height: 50px !important;
}

.loginPage {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: auto;
  margin-top: 30px;
}

.signInLogo {
  width: 680px !important;
  height: 791px !important;
}


.signInButton {
  width: 15%;
  border: none !important;
  background-color: transparent !important;
  color: black;
  margin-bottom: 40px;
  align-self: center;
}

.logoContainer {
  max-width: 680px !important;
  max-height: 156px !important;
  margin: auto;
  margin-top: 20px;
}

.boardTemplate {
  text-align: center;
  margin-bottom: 40px;
  font-size: xx-large;
}

.giftBoardTemplateTitle {
  font-size: x-large;
}

.inspoBoardTemplateTitle {
  font-size: x-large;
}

.listBoardTemplateTitle {
  font-size: x-large;
}

.purchaseBoardTemplateTitle {
  font-size: x-large;
}

.boardTypeSelectStyle {
  font-size: x-large;
}

.sharedBoardsTitle {
  text-align: center;
}

.shareRequestsBtn {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.requestsButton {
  background-color: transparent;
  border: none;
}

.requestsButton:hover {
  font-style: italic;
}

.shareRequestsTitle {
  text-align: center;
  margin-bottom: 30px;
}

.shareBoardsTitle {
  text-align: center;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  min-height: 50%;
}

.shareRequestCardDiv {
  display: flex;
  justify-content: center;
  flex-direction: row wrap;
}

.shareRequestCardBody {
  align-content: center;
  justify-content: center;
  margin-top: -45px;
  text-align: center;
}

.sharedBoardCardBody {
  align-content: center;
  justify-content: center;
  margin-top: -25px;
  text-align: center;
}

.boardCardSentBy {
  margin-bottom: 2px;
  margin-top: 10px;
}

.allSharedBoardsDiv {
  display: flex;
}

.custom-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  font-size: xx-large;
}

.custom-btn:hover {
  font-weight: bold;
}

.boardCardBtns {
  display: flex;
}

.boardCardModalBtns {
  justify-content: center;
}

.editBoardButton {
  background-color: transparent;
  border: none;
}

.deleteBoardButton {
  background-color: transparent;
  border: none;
}

.shareBoardButton {
  background-color: transparent;
  border: none;
}

.editBoardButton:hover {
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.deleteBoardButton:hover {
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.shareBoardButton:hover {
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.editGiftButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.deleteGiftButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.editGiftButton:hover {
  border-width: 2px;
}

.deleteGiftButton:hover {
  border-width: 2px;
}

.giftCardBtns {
  margin-top: auto;
}

.inspoCardBtns {
  margin-top: auto;
}

.listCardBtns {
  margin-top: auto;
}

.purchaseCardBtns {
  margin-top: auto;
}

.editInspoButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.deleteInspoButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.editInspoButton:hover {
  border-width: 2px;
}

.deleteInspoButton:hover {
  border-width: 2px;
}

.editListButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.deleteListButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.editListButton:hover {
  border-width: 2px;
}

.deleteListButton:hover {
  border-width: 2px;
}

.editPurchaseButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.deletePurchaseButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.editPurchaseButton:hover {
  border-width: 2px;
}

.deletePurchaseButton:hover {
  border-width: 2px;
}

.boardNameHeader {
  text-align: center;
  margin-bottom: 5px;
}

.myBoardsLink {
  color: black;
  margin-left: 8px;
  margin-top: -8px;
}

.sharedBoardsLink {
  color: black;
  margin-right: -1px;
  margin-top: -8px;
}

.shareRequestsLink {
  color: black;
  margin-right: -1px;
  margin-top: -8px;
}

.userCard {
  display: flex;
  flex-direction: column;
}

.userCardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sendButton {
  background-color: transparent;
  border: none;
  font-size: x-large;
  align-self: flex-end;
}

.userName {
  margin-bottom: -40px;
}

.shareSearchBarDiv {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
}

.userCard {
  margin: 3px;
  margin-bottom: 35px;
}

.navBarLinksDiv{
  margin-top: 9px;
}

.joinBoardButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.declineBoardButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.profileButton {
  border: none !important;
  background-color: transparent !important;
  color: black;
  text-align: center;
}

.profileButton:hover {
  font-style: italic;
}

.sharedBoardCardButtons {
  display: flex;
  margin-right: 8px;
  margin-top: 9px;
}

.shareBoardSearchDiv {
  display: flex;
  justify-content: center;
}

.shareBoardsSearchBtn {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.shareBoardSearchBar {
  display: flex;
}

.boardTypeButton {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  font-size: x-large;
}

.radioButtonsIconDiv {
  /* display: flex;
  flex-wrap: wrap;
  margin-top: 4%; */
  width: 100%;
}

.radioButtonsIconStyle {
  display: flex;
  /* font-size: small; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin-top: 25px;
}

.radioButtonsIconStyle>* {
  /* flex: 0 0 15%; */
}

.iconSize {
  font-size: 500%;
}

.iconDiv {
  display: flex;
  flex-wrap: wrap;
  max-height: 30%;
  flex: 0 0 33.333333%;
  padding: 25px 0 25px 0;
  /* justify-content: center; */
}

.iconLabelStyle {
  max-height: 60%;
  margin: -10px;
  margin-bottom: -40px;
}

.boardSubmitBtn {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  color: black;
}

.boardSubmitBtn:hover {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  color: black;
}

.submitCardBtn {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  color: black;
}

.submitProfileBtn {
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  color: black;
}

.addEditHeaderText {
  margin-bottom: 2%;
}

.submitCardBtn{
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  color: black;
}

.indexCards{
  margin-bottom: 50px;
}

.boardCardDiv {
  width: 320px;
  height: 320px;
  margin: 15px;
  justify-content: center;
}

.modalDots {
  margin-right: 15px;
}

.sharedBoardCardsDiv {
  justify-content: center !important;
}

.shareRequestsCardDiv {
  justify-content: center !important;
}

.cardBodyStyle {
  width: 350px;
  margin: 20px;
}

.inspoCard {
  height: 400px;
}

.giftCard {
  height: 610px;
}

.purchaseCard {
  height: 475px;
}

.listCardDiv {
  height: 76px;
}

.inspoDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
